<mat-sidenav-container autosize class="container">
    <mat-sidenav #sidenav class="sidenav" mode="over" opened="false">
      <!-- <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->
      <mat-nav-list >
      <ng-container *ngFor="let itemGroup of sidenavItems; let isLastGroup = last">
        <a mat-list-item *ngFor="let item of itemGroup" [routerLink]="item.link" routerLinkActive="active">
          <div class="sidenav-fixpos">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{lang.get(item.label)}}</span>
          </div>
        </a>
        <mat-divider *ngIf="!isLastGroup"></mat-divider>
      </ng-container>
    </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content class="sidenav-content full-viewport">
      <!-- <button type="button" mat-button (click)="sidenav.toggle()">
        Toggle sidenav
      </button> -->
      <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
  