<!-- Header
    <a routerLink="home" href="#">GoTo Home Page</a>
-->

<div>
    <HeaderComponent></HeaderComponent>
    <!-- <div class="grid-icon" (click)="NavTestFunc()">
        <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="menu"></mat-icon>
    </div>
    <div style="grid-area: header;">
    </div> -->
    <!-- <div style="grid-area: main;"> -->
        <!-- <h1>{{title}}</h1> -->
        <!-- <button (click)="navigate($event, 'test/nav')">Klick mich</button> -->
        <!-- <router-outlet></router-outlet> -->
    <!-- </div> -->
    <SidenavComponent>
        <router-outlet></router-outlet>
    </SidenavComponent>
</div>