:host-context(.AppComponent) {

    .grid-container{
        display: grid;
        grid-template-areas:
        'icon header'
        'menu main'
        'menu footer';
        grid-template-columns: min-content auto;
        gap: 10px;
        padding: 10px;
    }

    .grid-icon {
        grid-area: icon;
        display: inline-flex;
        justify-content: center;
        &:hover {
            cursor: pointer;
        }
    }
      
}