<!-- Header
    <a routerLink="home" href="#">GoTo Home Page</a>
-->

<div class="grid-container">
    <div class="grid-icon" (click)="NavTestFunc()">
        <img src="./../favicon.ico">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div style="grid-area: header;">
        <!-- <HeaderComponent></HeaderComponent> -->
    </div>
    <div style="grid-area: main;">
        <h1>{{title}}</h1>
        <button (click)="NavTestFunc()">Klick mich</button>
        <router-outlet></router-outlet>
    </div>
</div>